<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- Mirrored from lmpixels.com/demo/leven-html-new/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Sep 2022 15:05:47 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Curriculum vitae</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Leven - Resume / CV / vCard Template" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, portfolio" />
    <meta name="author" content="lmpixels" />
    <link rel="shortcut icon" href="/Content/vitae/favicon.ico">

    <link rel="stylesheet" href="/Content/vitae/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/Content/vitae/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/vitae/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/Content/vitae/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/Content/vitae/css/main.css" type="text/css">

    <script src="/Content/vitae/js/modernizr.custom.js"></script>
</head>

<body class="page">
    <div class="lm-animated-bg"></div>

    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="preloader-spinner">
            </div>
        </div>
    </div>
    <!-- /Loading animation -->
    <!-- Scroll To Top Button -->
    <div class="lmpixels-scroll-to-top"><i class="lnr lnr-chevron-up"></i></div>
    <!-- /Scroll To Top Button -->

    
                            @{ Html.RenderZone("start"); }
                            @RenderBody()
                            @{ Html.RenderZone("aftercontent"); }
           
      
    <script src="/Content/vitae/js/jquery-2.1.3.min.js"></script>
    <script src="/Content/vitae/js/imagesloaded.pkgd.min.js"></script>
    @*<script src='../../../../www.google.com/recaptcha/api.js'></script>*@
    <script src="/Content/vitae/js/bootstrap.min.js"></script>
    <script src='/Content/vitae/js/jquery.shuffle.min.js'></script>
    <script src='/Content/vitae/js/masonry.pkgd.min.js'></script>
    <script src='/Content/vitae/js/owl.carousel.min.js'></script>
    <script src="/Content/vitae/js/jquery.magnific-popup.min.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o"></script>*@
    <script src="/Content/vitae/js/jquery.googlemap.js"></script>
    <script src="/Content/vitae/js/validator.js"></script>
    <script src="/Content/vitae/js/main.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"74e3b36d3da78b30","version":"2022.8.1","r":1,"token":"94b99c0576dc45bf9d669fb5e9256829","si":100}' crossorigin="anonymous"></script>
</body>

</html>